body {
    background-color:#5271ff;
    color: white;
}

.row {
    margin-bottom: 0;
}

#logo {
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn {
    background-color: #c8ef78;
    text-transform: lowercase;
    color: #3b3a36;
    margin-bottom: 10px;
  }

.btn:hover {background-color: #e0ffa3;}

.btn:focus {background-color: #c8ef78;}

  i.material-icons {
    font-size: 1.2em;
    margin-right: .2em;
}
#map {
    height: 55vh;
    background-color: #e1e8f0;
  }

#steps {
    height: 55vh;
    overflow: scroll;
}

#steps .flow-text { margin-top: .5em;}

.input-field label {color: #c8ef78;}

.input-field input[type=text]:focus + label {color: #c8ef78;} 

#destination:focus, #start:focus  {
    color: white;
    border-bottom: 1px solid #c8ef78; 
    box-shadow: 0 .5px 0 0 #dddddd;
}

#destination:focus + label {color: #c8ef78;} 

#start:focus + label {color: #c8ef78;} 

.input-field input[type=text] {border-bottom: 1px solid #dddddd;}

    